---
layout: default
title: 首页
banner: banner02
---

<div class="home">
  <!-- 产品介绍 -->
  <div class="pro text-center">
    <div class="wrapper">
      <div class="title o0">
        <h2><span class="en">introduction to products</span><br>产品介绍</h2>
      </div> 
      <div class="row list">
      {% for x in (1..4) %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <a href="/pro" class="thumbnail o0">
             <span class="icon"><img src="{{site.imgurl}}/icon0{{x}}.png" alt=""></span>
             <h2 class="mb10">{% cycle 'group1':'现金红包','免费商城','在线竞拍','手机第一屏' %}</h2> 
             <p>{% cycle 'group2':'千万现金红包24小时无间隔放送，用户、商户狂欢不断！随时随地无障碍滑出惊喜，现金积分抢不停。',,'积分商城里大量的实物商品，用户通过日常的使用（签到、解锁屏幕、打电话、抢红包、分享等）获取积分来免费兑换。','通过最新技术开发的线上仿真竞拍，将传统竞拍场景以移动互联网形式体现出来，普通大众也可以享受竞拍的乐趣。','从点亮手机开始，点亮生活，连接人与信息，人与服务，将各种信息和服务的入口智能化嵌入手机第一屏，连接您想要的。' %}</p>
          </a>
        </div>
      {%endfor%}
      </div>
    </div>
    <div class="proInfo infoBox hide" >

    </div>
  </div>
  <!-- 关于滑客 -->
  <div class="intr greyBg">
    <div class="wrapper">
      <div class="title o0 text-center">
        <h2><span class="en">about  huako</span><br>关于滑客</h2>
      </div> 
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="jumbotron">
            <h2 class="mb10">湖南滑客网络科技有限公司</h2>
            <p>湖南滑客网络科技有限公司隶属于新三板上市企业湖南众益传媒有限公司（证券代码 831882）、是专注移动互联网领域研发与运营的一家高新技术企业。公司核心团队由一群退伍军人组成，一群保家卫国的退伍军人、心怀梦想的移动互联网从业者，一群有情怀的人凑在一起，想做成一件有情怀的事情。</p>
            <p><a class="btn btn-red" href="/about" role="button">more ></a></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img src="{{site.imgurl}}/aboutImg.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="intrInfo infoBox hide" >

    </div>
  </div>
  <!-- 滑客动态 -->
  <div class="news">
    <div class="wrapper">
      <div class="title o0 text-center">
        <h2><span class="en">huako news</span><br>滑客动态</h2>
      </div> 
      <div class="row line">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="lastNews o0">
            <div class="date text-center"><span class="day">27</span>2015-10</div>
            <img src="{{site.imgurl}}/newsImg01.png" alt="" class="img-responsive">
            <h2 class="mb10">滑客微信公众号举办“寻找最美”</h2>
            <p class="info mb10">一大早伙伴们喜悦而激动的心情荡漾开来，特殊的喜悦从早会开始。整齐的队伍，象征着全体伙伴的齐心一致。</p>
            <p><a href="{{site.baseUrl}}/news/newsInfo/" class="btn btn-red">MORE > </a></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="newsList o0">
          {% for x in (1..3) %}
            <a href="/news/newsInfo/" class="media line">
              <div class="media-left">
                <div class="date"><span class="day">06</span><span>2015-06</span></div>
              </div>
              <div class="media-body">
                <h2 class="media-heading">冬日的怒放——滑客上线</h2>
                <p class="info">2014年12月21日，福马科技发展有限公司全体伙伴们呕心沥血的佳作——滑客，上线啦！这个值得纪念的特殊日子，成为福马创记……</p>
              </div>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="newsInfo infoBox hide" >

    </div>
  </div>
  <!-- 联系我们 -->
  <div class="contact greyBg">
    <div class="wrapper">
      <div class="title o0 text-center">
        <h2><span class="en">Contact us</span><br>联系我们</h2>
      </div> 
      <div class="row line">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div style="width:100%;height:270px;" id="dituContent" class="map"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="address">
            <div class="col-xs-12">
                <address>
                    <abbr title="Phone">电话：</abbr> 0731—82808080
                    <br>
                    <abbr title="address">地址：</abbr> 湖南省长沙市高新区尖山路39号中电软件园总部大楼607—610
                    <br>
                </address>
            </div>
            <div class="col-xs-6">
                <dl class="text-center">
                    <dd><img src="{{site.imgurl | prepend: site.baseurl}}/weiboCode.png" alt="" class="code img-responsive"></dd>
                    <dt>滑客官方微博</dt>
                </dl>
            </div>
            <div class="col-xs-6">
                <dl class="text-center mb10">
                    <dd><img src="{{site.imgurl | prepend: site.baseurl}}/weixinCode.png" alt="" class="code img-responsive"></dd>
                    <dt>滑客微信公众号</dt>
                </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
