/*
=====================================================================
*   v1.0 样式文件
*   网址：uako.cn
*   日期：5-11-10
=====================================================================

清单：

a. 网页字体和图标字体(Webfonts and Icon fonts)
b. 预加载
c. Reset
d. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Media
   5. Buttons
   6. Forms
   d. Grid
   e. Others
   1. Clearing
   2. Misc

=====================================================================  */

/* ------------------------------------------------------------------ */
/* b. 预加载
 ------------------------------------------------------------------ */

#preloader  {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #fff;
   z-index: 99999;
   height: 100%;
}
#status  {    
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100px;
   height: 100px;
   margin: -50px 0 0 -50px;  
   padding: 0;    
}
@keyframes scale {
0% {
    opacity: 1;
    transform: scale(1);
}
45% {
    opacity: 0.7;
    transform: scale(0.1);
}
80% {
    opacity: 1;
    transform: scale(1);
}
}
.ball-pulse > div:nth-child(0) {
    animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0s normal none infinite running scale;
}
.ball-pulse > div:nth-child(1) {
    animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.12s normal none infinite running scale;
}
.ball-pulse > div:nth-child(2) {
    animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.24s normal none infinite running scale;
}
.ball-pulse > div:nth-child(3) {
    animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.36s normal none infinite running scale;
}
.ball-pulse > div {
    animation-fill-mode: both;
    background-color: $brand-color;
    border-radius: 100%;
    display: inline-block;
    height: 15px;
    margin: 2px;
    width: 15px;
}

/**
 * Site header
 */
 body{
    font-family:"Microsoft Yahei", SimHei, "Hiragino Sans GB", Tahoma, Arial, Helvetica;
    padding-top: 77px;
 }
.site-header {
    background-color: $grey-color;
    height: auto;
    padding: 1em 0 0;
    @include transition(all .3s);
    &.affix{
        height: 82px;
        overflow: hidden;background: #fff; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        .site-title{
            position: absolute;bottom: 0;
            img{
                max-height: 70px;@include transition(all .3s);
            }
        }
        .site-nav{
            padding-top: 1rem;
            .page-link{
                color: $text-color;
                &:hover,&.active{
                    color: #fff;
                }
            }
        }
    }
    // Positioning context for the mobile navigation icon
    //position:relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    
    img{
        max-height: 110px;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    padding: 1em;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        display: inline-block;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 5px;

        &.active,&:hover{
            background-color: $brand-color;
            @include transition(background 1s);
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        padding-top: 0;
        background-color: $grey-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 999;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 5px;
            text-align: center;
            color: #fff;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #fff;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    font-family: SimSun;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;color: #fff;
}

.footer-heading {
    margin-bottom: 0;font-size:12px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
*{
    // transition:all .2s;
}

%title{
    font-size: 18px;
    color: $grey-color;
    &.line{
        padding-bottom: 10px;
        padding-bottom: 1rem;
        border-bottom: 1px solid $grey-color-lighter;
    }
}
%inTwoLine{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;

    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.greyBg{
    background-color: $grey-color;
    color: #fff;
    &>.wrapper>.title h2{
        color: #fff;
    }
}
.btn-red{
    padding: 6px 25px;
    padding: .5em 2rem;
    background-color: $brand-color;
    color: #fff;border-radius: 0;text-transform: uppercase;
    &:hover{
        color: rgba(255,255,255,.5);
        @include transition(all .3s );
        background-color: darken($brand-color,15%);
    }
}
.redColor{
    color: $brand-color;
}
p{
    // transition:font none;
}
// home
.home{
    .intr,.news,.pro,.contact{
        padding-bottom: 48px;
        padding-bottom: 4rem;
    }
    .intr,.news,.contact{
        padding-top: 48px;
        padding-top: 4rem;
    }
    @at-root .title h2{
        margin-bottom: 48px;
        margin-bottom: 4rem;
    }
    @at-root .title h2,.thumbnail h2{
        @extend %title;line-height: 1.5em;
    }
    @at-root .title .en{
        text-transform: uppercase;
        font-weight: 700;
    }
    .intr{
        img{
            margin: 0 auto;
        }
    }
    @at-root .jumbotron{
        background-color: transparent;
        h2{
            font-size: 18px;font-weight: 700;
        }
        p{
            line-height: 2;font-size: 14px;
        }
    }
    .pro .list .thumbnail{
        padding: 8px 50px 50px;
        padding: .5rem 3rem 3rem;
        p{
            height: 3em;line-height: 1.5;
        }
    }
    @at-root .pro .list .thumbnail{
        padding: .5rem 5rem;background-color: transparent;border-radius: 0;
        p{
            line-height: 2;height: 10em;overflow: hidden;
        }
        .icon{
            margin: 20px auto;
            margin: 1.4rem auto;
            display: block;
            width: 76px;height: 76px;
            line-height: 76px;
            border-radius: 50%;
            background-color: $grey-color-light;  
        }
        &:hover{
            @include transition(all .3s );
            border-color: $grey-color-light;
            .icon{
                @include transition(all .3s );
                background-color: $brand-color;
            }
        }
    }
    @at-root .news{
        h2{
            font-size:18px; font-weight: 500;color: #000;
        }
        .date{
            padding: 5px;
            line-height: 1;color: $grey-color-light;
            .day{
                display: block;
                font-size: 36px;font-weight: 500;
            }
        }
        .info{
            @extend %inTwoLine;color: $grey-color-light;line-height: 1.5; margin-bottom: 10px;
        }
        .lastNews{
            position: relative;
            img{
                margin-bottom: 10px;
                margin-bottom: 1rem;
            }
            .date{
                position: absolute;left: 0;top: 0;font-size: 12px;
                background-color: rgba(225,74,56,.83);color: #fff;
                .day{
                    color: #fff;
                }
            }
        }
        .newsList{
            .line{
                border-bottom: 1px solid $grey-color-lighter;display: block;cursor: pointer;
                &:hover{
                    @include transition(transform .5s);
                    @include transform(translateX(30px));
                    .date{
                        color: $grey-color;
                    }
                    .media-heading{
                        color: $brand-color;
                    }
                }
            }
            .date{
                width: 80px;
            }
        }
    }
}
.no-flexboxlegacy {
    .about{
        .cultrue{
            .row{

            }
            .col2{
                float: left;
                width:20%;

            }
        }
    }
}
.about{
    .jumbotron{
        color: #000;
    }
    .cultrue,.team{
        padding-top: 20px;
        padding-top: 2rem;
    }
    .cultrue{
        padding-bottom: 30px;
        padding-bottom: 4rem;
        @media screen and (min-width:992px) {
            .row{
                display:-webkit-flex; 

            }
        }
        .col2{
            flex:1;
            padding-right: 15px;
            padding-left: 15px;
            position: relative;cursor: pointer;
            min-height: 1px;text-align: center;
            strong{
                font-size: 36px;font-weight: 300;
                border:2px dotted #fff; color: #fff;
                border-radius: 50%;
                width: 124px;height: 124px;line-height: 124px;text-align: center;display: inline-block;
                background-color: #424242;
                position: relative;
                z-index: 9;
            }
            .hidden-lg{
                    text-align: left;
                    margin-top: 2em;
                    border: 2px solid rgba(255,255,255,.8);
                    padding: 1em;
                    position: relative;
                    top: -5em;
                    padding-top: 4em;
                    height: 14em;

            }
            dt,dd{
                @extend %animated;
            }
            @media screen and (min-width: 1200px) {
                &:hover,.active{
                    strong{
                        border-color:$brand-color;
                        color: $brand-color;
                    }
                   
                    dt{
                        @include animationName(zoomOut);
                        // display: none;
                    }
                    .hidden-lg{
                        @include animationName(zoomIn);
                        margin-top: 0;
                        display: block !important;position: absolute;top: 0;left: 0;text-align: left;
                        border:2px dotted #fff; padding: 1em;border-radius: 1em;
                    }
                }                
            }
            @media (min-width:768px) and (max-width:991px) {
                overflow: hidden;margin: 2em 5em;
                dt{
                    float: left;
                    strong{
                        width: 100px;
                        height: 100px;
                        line-height: 100px;
                    }
                }
                .hidden-lg{
                    text-align: left;
                    margin-top: 0;
                    padding-top: 2em;
                    margin-left: 150px;
                    top: 0;
                    border: none;
                    height: auto;
                }
            }
            @media screen and (max-width:767px) {
                overflow: hidden;margin: 1em;
                dt{
                    float: left;
                    strong{
                        width: 64px;
                        height: 64px;
                        line-height: 64px;
                    }
                }
                .hidden-lg{
                    text-align: left;
                    margin-top: 0;
                    margin-left: 100px;
                    padding-top: 0  ;
                    top: 0;
                    border: none;
                    height: auto;
                }
            }

        }
    }
    .team{
        margin-bottom: -30px;
        h1{
            font-size:18px;font-weight: 700;
        }
        .teamImg{
            margin: 2em 0 0;position: relative;
            &>div{
                overflow: hidden;
                &::before{
                    display: block;cursor: pointer;
                    content: "";
                    position: absolute;left: 0;top: 0;@include transition(background 2s);
                    width: 100%;height: 100%;background: transparent url(#{$img-url}/screen.png) repeat 0 0;z-index: 9;
                }
                &:hover{
                    &::before{
                        background: rgba(0,0,0,.4);
                    }
                    img{
                        @extend %animated;
                        @include animationName(scaleIn);
                    }
                }
            }
            &>div{
                padding: 0px;
                img{
                    border: 1px solid $grey-color-light;
                    margin-left: -1px;
                    margin-top: -1px;
                }
            }
        }
    }
}
.infoBox{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.95);
    color: #000;
    z-index: 9999;
    overflow: auto;
    padding-bottom: 50px;
    @include transition(all .5s);
    &.midCenter{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .about{
        margin-bottom: 50px;
    }
    .intr .title h2{
        color: #000;
    }
    @at-root .closeBtn{
            position: fixed;
            right: 0;
            top: 0;
            z-index: 9999;
        &:after{
            content:"X CLOSE";cursor: pointer;
            display: inline-block;
            line-height: 2;
            padding: 5px 10px;
            margin-top: 10px;
            margin-top: 1rem;
            border-radius: 20px 0 0 20px;
            color: #fff;
            background-color: #e14a38;

        }
    }
    &.intrInfo,&.newsInfo  {
        text-align: center;

    }
    .about{
        text-align: left;
    }

}

.product{
    .list {
        &>div{
            &.bBottom{
                border-bottom:1px dashed $grey-color-lighter;
            }
            &.bLeft{
                border-left: 1px dashed $grey-color-lighter;
            }
            .thumbnail{
                border:none;
                .icon{
                    background-color: $brand-color;
                }
                &:hover{
                    .icon{
                        background-color: $brand-color;
                    }
                }
            }
        }
    }

}
#news{
    .newsList{
        &>.row{
            margin-top: 20px;
            margin-top: 2rem;
        }
        .img{
            padding: 0;
        }
    }
    .pagination{
        margin: 2em auto;
        &>li{
            &>a,&>span{
                margin: 0 10px;color:$text-color;
            }
        }
        &>.active>a, 
        &>.active>a:focus, 
        &>.active>a:hover, 
        &>.active>span, 
        &>.active>span:focus, 
        &>.active>span:hover{
            background-color: $brand-color;
            border-color: transparent;
            color: #fff;
        }
    }
}
.newsInfo{
    .title.line{
        @extend %title;
        padding-bottom: 0;
        h2{
            font-size:30px;
        }
    }
    .date{
        font-size: 12px;
    }
    .content{
        min-height: 700px;text-align: center;
        p{
            text-indent: 2em;margin: 1em 0;text-align: left;
        }
        .link{
            font-size: 12px;
        }
    }
}
.contact{
    margin-bottom: -30px;
    .wrapper{
        padding-bottom: 3em;
    }
    .code{
        margin: 10px auto;
        margin: 1rem auto;
    }
}

//地图
.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}
