<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="banner"><img src="{{site.imgurl}}/{{page.banner}}.png" alt="" class="img-responsive"></div>
    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{site.jquery}}"></script>
    <script type="text/javascript" src="{{site.bs}}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/modernizr.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/inview.min.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/main.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/classie.js"></script>
    <script type="text/javascript" src="{{site.jsurl}}/header.js"></script>
  </body>

</html>
