<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.banner %}
    <div class="banner o0"><img src="{{site.imgurl | prepend: site.baseurl}}/{{page.banner}}.png" alt="" class="img-responsive"></div>
    {% endif %}
    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{site.jquery | prepend: site.baseurl}}"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/modernizr.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/inview.min.js"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/main.js"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/classie.js"></script>
    <script type="text/javascript" src="{{site.jsurl | prepend: site.baseurl}}/header.js"></script>
  </body>

</html>
